* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.uncouthSlider {
    background-color: yellow;
    height: 390px;
    position: relative;
    overflow-x: hidden;
}

.sliderTitle {
    text-align: center;
    margin: 1em;
}

.sliderText {
    text-align: center;
}

.sliderCenterPiece {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderImage {
    width: 100px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderPrevBtn {
    position: absolute;
    top: 50%;
    transform: translate(calc(1rem), -50%);
}

.sliderNextBtn {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(calc(-100% - 1rem), -50%);
}


i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }